.header {
  background-color"yellow"padding: 20px;
  text-align: center;
}
.topnav {
  overflow: hidden;
  background-color: ##ff80ff;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
